.grid {
    display: grid;
    border: 2px solid black;
    width: 500px;
    height: 300px;
    grid-template-columns: 100px 100px 100px;    
}

.item1 {
    background-color: lightblue;
    border: 2px dotted black;
}

.item2 {
    background-color: lightgreen;
    border: 2px dotted black;
}

.item3 {
    background-color: lightpink;
    border: 2px dotted black;
}

.item4 {
    background-color: lightyellow;
    border: 2px dotted black;
}

.item5 {
    background-color: lightgray;
    border: 2px dotted black;
}